.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto auto;
  padding: 1.5rem;

  p {
    max-width: 100%;
    margin-bottom: 3rem;

    label {
      display: block;
      max-width: 100%;

      .wpcf7-form-control-wrap {
        margin-top: 1rem;
        display: block;

        input,
        textarea {
          font-size: 2rem;
          font-family: $font-reg;
          border: 2px solid $color-grey;
          padding: 1rem 1.5rem;
          border-radius: 5px;
          transition: all 0.3s ease-out;
          width: calc(
            100% - 3rem
          ) !important; // Fix wpcf7 weird size attribute behavior

          &:focus {
            border: 3px solid $color-blue-dark;
          }
        }
      }
    }
    .wpcf7-submit {
      width: 100%;
      padding: 1.5rem 6rem;
      background-color: $color-blue-dark;
      color: $color-white;
      border-radius: 5px;
      outline: 0;
      border: 0;
      border: 2px solid $color-blue-dark;
      font-family: $font-reg;

      &:hover {
        background-color: $color-white;
        color: $color-blue-dark;
      }
    }
  }
}
