#hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 26rem;
  margin-bottom: 20rem;

  .hero-image {
    width: 50%;
  }

  .hero-text {
    width: calc(50% - 3rem);
    padding-left: 3rem;

    p {
      text-transform: uppercase;
      color: $color-grey-dark;
      letter-spacing: 3px;
    }

    h1 {
      margin: 1.5rem 0 4.5rem;
    }
  }

  @include breakpoint(0, 500px) {
    margin-top: 16rem;

    .hero-image {
      width: 85%;
      margin: auto;
    }

    .hero-text {
      width: 100%;
      padding: 0;
      margin: 3rem auto 0;
      text-align: center;
    }
  }
  @include breakpoint(500px, 900px) {
    .hero-image {
      width: 60%;
      margin: auto;
    }

    .hero-text {
      padding: 0;
      margin: 3rem auto 0;
      width: 80%;
      text-align: center;
    }
  }
}

.waves {
  width: 100%;
  height: auto;
}

.upside-down {
  transform: translateX(-2.5%) rotate(180deg);
}

#about {
  color: $color-white;
  overflow-x: hidden;

  div {
    padding: 6rem 0;
    background-color: $color-blue-dark;
    margin: -3px 0;

    article {
      display: flex;
      flex-wrap: wrap;

      h2 {
        width: 100%;
        margin-bottom: 2.5rem;
      }

      img {
        width: 50%;
        height: 45rem;
        object-fit: cover;
        object-position: top;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        background-color: $color-blue-dark;
      }

      p {
        width: calc(50%-3rem);
        padding-left: 3rem;
        font-size: $font-size-l;
        line-height: 3.6rem;
      }

      @include breakpoint(0, 900px) {
        img {
          width: 100%;
          margin-bottom: 3rem;
        }

        p {
          width: 100%;
          margin-bottom: 0;
          padding: 0;
        }
      }
    }
  }
}

#inventions {
  margin-top: 20rem;
  margin-bottom: 20rem;

  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .show-all {
    width: 48%;

    a {
      background-color: $color-blue-light;
      border-radius: 15px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      height: 32rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $color-blue-dark;
      font-weight: $font-weight-bold;
      text-decoration: none;
      transition: 0.3s all ease-out;

      &:hover {
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
      }

      img {
        margin-bottom: 1rem;
      }
    }

    @include breakpoint(0, 900px) {
      width: 100%;
    }
  }
}

#stories {
  margin-top: 10rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .stories-list {
    color: red;
  }

  .further-stories {
    text-align: center;
    color: $color-black;
    margin-top: 6rem;
  }
}
