@font-face {
  font-family: 'Surfing Capital';
  src: url('../fonts/SurfingCapital.woff2') format('woff2'),
    url('../fonts/SurfingCapital.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.maxwidthcontainer {
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

@mixin breakpoint($min, $max: 0) {
  @if $max == 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

html {
  font-family: $font-reg;
  font-size: 10px;
  font-weight: $font-weight;
  background-color: white;
}

body {
  font-size: $font-size-m;
  background-color: white;
}

h1,
h2 {
  font-size: $font-size-xxl;
  line-height: $line-height-xxl;
  font-weight: $font-weight-bold;

  @include breakpoint(0, 50rem) {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }
}

.button {
  padding: 1.5rem 3rem;
  background-color: $color-blue-dark;
  color: $color-white;
  border-radius: 10px;
  outline: 0;
  text-decoration: none;
  border: 3px solid $color-blue-dark;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: $color-white;
    color: $color-blue-dark;
  }
}
