@font-face {
  font-family: 'Surfing Capital';
  src: url('../fonts/SurfingCapital.woff2') format('woff2'),
    url('../fonts/SurfingCapital.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
    url('../fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.maxwidthcontainer {
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

@mixin breakpoint($min, $max: 0) {
  @if $max == 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

html {
  font-family: $font-reg;
  font-size: 10px;
  font-weight: $font-weight;
  background-color: white;
}

body {
  font-size: $font-size-m;
  background-color: white;
}
