section#page-content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-hero-image {
    max-width: 320px;
    margin-bottom: 10rem;
  }

  h1.article-h1 {
    text-align: center;
    margin-bottom: 6rem;
  }

  .article-body {
    max-width: 100%;
    margin-bottom: 9rem;
  }

  .stories,
  .inventions {
    margin-bottom: 20rem;
  }
}
