<li class="invention-thumbnail">
	<a href="{{ invention.link }}">
		<img alt="Main Image" src="{{ Image(invention.meta('main_image')) }}"/>
		<h3>{{ invention.post_title }}</h3>
		<p>{{ invention.thumbnail_text }}</p>
	</a>
</li>
