{% extends "base.twig" %}

{% block content %}
	<section id="page-content" class="maxwidthcontainer">
		<img class="page-hero-image" src="{{ theme.link }}/images/contact.svg"/>
		<h1 class="article-h1">{{post.title}}</h1>
		<div class="article-body">
			{{post.content}}
		</div>
	</section>
{% endblock %}
