{% extends "base.twig" %}

{% block content %}
	{% include 'partial/hero.twig' %}
	{% include 'partial/about.twig' %}
	<section id="inventions" class="maxwidthcontainer home-section">
		<h2>{{ post.inventions_headline }}</h2>
		<ul class="inventions-list">
			{% for invention in inventions %}
				{% if invention.post_title %}
					{% include 'partial/invention-tease.twig' %}
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section id="stories" class="maxwidthcontainer home-section">
		<h2>{{ post.stories_headline }}</h2>
		<ul class="stories-list">
			{% for story in stories %}
				{% include 'partial/story-tease.twig' %}
			{% endfor %}
		</ul>
	</section>
{% endblock %}
