header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 8rem;

    @include breakpoint(0, 800px) {
      align-items: center;
    }

    h1 {
      padding: 1rem 1.5rem;

      @include breakpoint(0, 800px) {
        align-items: center;
      }
    }

    ul {
      display: flex;
      margin: 0 1rem 2rem 0;

      @include breakpoint(0, 800px) {
        display: none;
        margin: 0;

        &.open {
          display: block;
          position: absolute;
          top: 8rem;
          left: 0;
          right: 0;
        }
      }

      li {
        &:not(:last-child) {
          margin-right: 2rem;

          @include breakpoint(0, 800px) {
            margin: 0;
          }
        }

        a {
          text-decoration: none;
          color: $dark-color;

          @include breakpoint(0, 800px) {
            display: block;
            margin: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            display: flex;
            justify-content: flex-start;
            padding: 2rem 0 2rem 2rem;
            border-top: 1px solid $dark-color-lightened;

            &:hover {
              background-color: $primary-color;
              color: $bright-color;
            }
          }

          @include breakpoint(800px) {
            &:hover {
              color: $primary-color;
              border-bottom: 2px solid $primary-color;
            }
          }

          &.active {
            color: $primary-color;

            @include breakpoint(0, 800px) {
              &:hover {
                color: $bright-color;
              }
            }

            @include breakpoint(800px) {
              border-bottom: 2px solid $primary-color;
            }
          }
        }
      }
    }

    button {
      display: none;

      @include breakpoint(0, 800px) {
        display: block;
      }
    }
  }

  section#hero {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6rem 0;
    overflow-y: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      object-fit: cover;
    }

    article {
      width: 50%;
      padding-right: 2.5rem;

      @include breakpoint(0, 915px) {
        width: 100%;
        padding: 0 1.5rem;
      }

      h2 {
        font-size: $font-size-xxl;
        line-height: $line-height-xxl;
        margin: 0 0 1.5rem 1rem;

        @include breakpoint(0, 500px) {
          font-size: 4.2rem;
          line-height: 6.6rem;
        }

        span {
          padding: 0.2rem 0;
          background-color: $bright-color;
          display: inline;
          box-shadow: 10px 0 0 $bright-color, -10px 0 0 $bright-color;
        }
      }

      button {
        font-family: $font-reg;
        font-size: $font-size-xl;
        background-color: $secondary-color;
        color: $bright-color;
        padding: 1.5rem;
        border: 0;
        outline: 0;
        border-radius: $border-radius;

        @include breakpoint(0, 560px) {
          font-size: $font-size-l;
        }
      }
    }
  }
}
