section#references {
  margin-bottom: 4.5rem;

  @include breakpoint(0, 850px) {
    ul {
      li {
        display: flex;
        flex-direction: column;

        .image-wrapper {
          padding-top: 2rem;
          padding-bottom: 1rem;
          display: flex;
          justify-content: center;
          order: 1;
        }

        blockquote {
          padding-left: 2rem;
          padding-bottom: 4rem;
          text-align: left;
          order: 3;
          font-size: 100%;
        }

        cite {
          padding-left: 2rem;
          display: flex;
          font-size: 80%;
          text-align: left;
          order: 2;
        }
      }

      li img {
        height: 40rem;
        width: 50rem;
        object-fit: cover;
        max-width: calc(100% - 3rem);
      }

      .tina-ubuntu {
        background-color: $accent-color-bright;
      }

      .tom-herzog {
        background-color: $accent-color-reg;
      }

      .mueller-ag {
        background-color: $accent-color-dark;

        .quotation-decoration {
          background-color: $primary-color;
          width: 100%;
          order: 4;
            
            img {
            height: 50%;
            width: 50%;
            object-fit: contain;
          }
        }
          
      }
    }
  }

  @include breakpoint(850px) {
    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, 1fr);

      .tina-ubuntu {
        grid-row: 1 / 4;
        grid-column: 1 / 4;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .image-wrapper {
          background-color: $accent-color-bright;
          padding: 1rem 1rem 0 1rem;

          img {
            width: 100%;
            height: 19rem;
            object-fit: cover;
          }
        }

        blockquote {
          grid-column: 1 / span 4;
          grid-row: 3 / 3;
          background-color: $accent-color-bright;
          display: flex;
          align-items: flex-end;
          padding-bottom: 2rem;
        }

        cite {
          grid-column: 1 / span 2;
          grid-row: 2 / 3;
          background-color: $accent-color-bright;
          padding-top: 2rem;
        }
      }

      .tom-herzog {
        grid-row: 1 / 4;
        grid-column: 2 / 5;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .image-wrapper {
          grid-column: 3 / 4;
          grid-row: 1 / 1;
          background-color: $accent-color-reg;
          padding: 1rem 1rem 0 1rem;

          img {
            width: 100%;
            height: 19rem;
            object-fit: cover;
          }
        }

        cite {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          text-align: right;
          padding-left: 40%;
          background-color: $accent-color-reg;
        }

        blockquote {
          grid-column: 2 / 4;
          grid-row: 2 / 3;
          background-color: $accent-color-reg;
          padding-top: 2rem;
        }

        .fill-item {
          grid-column: 3 / 4;
          grid-row: 3 / 4;
          background-color: $accent-color-reg;
        }
      }

      .mueller-ag {
        grid-row: 1 / 4;
        grid-column: 5 / 9;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .image-wrapper {
          grid-column: 2 / 5;
          grid-row: 1 / 3;
          background-color: $accent-color-dark;
          padding: 1rem 1rem 0 1rem;
          display: flex;
          align-items: flex-end;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        blockquote {
          grid-column: 1 / 5;
          grid-row: 3 / 4;
          background-color: $accent-color-dark;
          display: flex;
          align-items: flex-end;

          .blockquote-content {
            padding-bottom: 1rem;
          }
        }

        cite {
          grid-column: 1 / 5;
          grid-row: 3 / 4;
          text-align: right;
          display: flex;
          justify-content: flex-end;
        }

        .quotation-decoration {
          background-color: $primary-color;
          grid-row: 1 / 3;
          grid-column: 1 / 2;
          padding: 2.5rem 1rem 0;
          display: flex;
          justify-content: flex-start;

          img {
            margin-top: 2rem;
            object-position: top;
            object-fit: contain;
          }
        }
      }
    }
  }
}
